.hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* align-content: center;
  justify-content: center; */
  z-index: 1;
  margin-top: 70px;
}

.hero-image {
  width: 100%;
  height: auto; /* Ensures the image doesn't crop */
  display: block;
}

.hero-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  /* Optional: add a background overlay if you need better text readability:
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px; */
}

.hero-title {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero-cta-button {
  padding: 0.75rem 0.75rem;
  font-size: 0.75rem;
  background-color: #ff9900d4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-cta-button:hover {
  background-color: #ff9900;
}

@media (max-width: 490px) {
  .hero-container {
    margin-top: 25px;
  }

  .hero-title {
    font-size: 1rem;
  }

  .hero-subtitle{
    display: none;
  }

  .hero-cta-button {
    padding: 0.5rem 0.5rem;
  }
}